.header {
    color: aquamarine;
}

h1 {
    color: red;
}

/* body {
    width: 400px;
} */

/* .unique {
    background: #000;
} */

#unique {
    background: black;
}



.test {
    margin: 40px;
    border: 3px solid black;
    padding: 50px;

    width: 50%;
    height: 100px;
}