.header {
    color: aquamarine;
}

h1 {
    color: red;
}

/* body {
    width: 400px;
} */

/* .unique {
    background: #000;
} */

#unique {
    background: black;
}

p {
    color: red;
    text-align: right;
}